<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
      <h2>Iniciar Sesion</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email , "Correo Electronico"%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form_control" %>
        </div>

        <div class="field">
          <%= f.label :password, "Contraseña" %><br />
          <%= f.password_field :password, autocomplete: "off",class:"form_control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me,"Recuerdame" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Iniciar Sesion",class:"btn be-green white" %>

        </div>
        <div class="actions">
          <%= render "devise/shared/links" %>

        </div>
      <% end %>

